<div id="header">
      <h1>_ARCHITEKT</h1>
      <div class="header_text_cont">
        Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
        </div>
      {{!-- <div class="clear"></div> --}}

    </div>
  {{!-- <a href="/gallery/{{id}}/edit"> --}}
    {{!-- <button>Edit</button> --}}
  {{!-- </a> --}}
<ul id="menu_container">
  <li id="menu" class="menu">
    <a href="/gallery">HOME</a>
  </li>
  <li id="register" class="register">
    <a href="/register">REGISTER</a>
  </li>
  <li id="login" class="login">
    <a href="/login">LOGIN</a>
  </li>
 

{{!-- </ul>
<div id="menu_container">
  <a href="/gallery/register">
    <button>Register</button>
  </a>
  <a href="/gallery/login">
    <button>Login</button>
  </a>
</div> --}}
  {{!-- <form action="/gallery/{{id}}?_method=DELETE" method="post"> --}}
    {{!-- <button>Delete</button> --}}
  {{!-- </form> --}}
<div id="main_container">
  <div id="outside_container">
    
{{#each photo}}
<div class="photo">
  <a href="/gallery/{{id}}">
    <img src="{{link}}" alt="PHOTO HERE">
  </a>
  <h3>
    <a href="/gallery/{{id}}">
      {{author}}
    </a>
  </h3>
  <h3>{{description}} </h3>
</div>
{{/each}}

  </div>
</div> {{!closing main container }}